html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-decoration: none; }

/* --------------------- END OF RESET CSS ----------------*/
/* --------------------- NAVBAR  -------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

nav a {
  color: #070439;
  font-size: 1.2rem; }

/* --------------- COMMON ROW STYLES ---------------------*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

/* ------------------  ROW 1 ----------------------------*/
.row1 {
  padding-bottom: 15rem;
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; }

.col1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 4rem; }

.col2 img {
  width: 80%;
  margin-top: 6rem; }

.col1 h2 {
  font-size: 2.4rem;
  font-family: "Open Sans";
  font-weight: 700;
  padding: 0 1.2rem;
  color: #070439; }

.col1 p {
  font-family: "Open Sans";
  font-size: 1.5rem;
  padding: 0 2rem;
  margin-top: 2rem;
  color: #070439; }

label {
  display: none; }

input {
  width: 85%;
  height: 4rem;
  margin: 2.8rem 0 1.3rem 0;
  padding-left: 2rem;
  border-radius: 6px;
  border: 1px solid #000;
  font-size: 1.2rem; }

button {
  width: 85%;
  height: 4rem;
  background-color: #3065f8;
  border-radius: 6px;
  font-family: "Raleway";
  color: #f6f6fe;
  font-size: 1.5rem;
  font-weight: 700; }

::-webkit-input-placeholder {
  opacity: 0.4; }

:-ms-input-placeholder {
  opacity: 0.4; }

::-ms-input-placeholder {
  opacity: 0.4; }

::placeholder {
  opacity: 0.4; }

/* ----------------- ROW 2 -------------------- */
.row2 {
  background-color: #f8f8fe; }

.row2 .col1 p {
  text-align: left;
  font-size: 1.8rem; }

.row2 .col1 a {
  color: #3c9f8f;
  margin: 5rem 0;
  display: block;
  font-size: 1.6rem; }

.arrow {
  width: 2rem;
  vertical-align: middle; }

hr {
  width: 275px;
  margin: 7px auto;
  border-top: 2px solid #3c9f8f; }

blockquote {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto 10rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); }

.quote {
  width: 1.5rem;
  margin-top: 2rem;
  margin-left: 32px; }

.row2 .col1 blockquote p {
  font-size: 1.5rem; }

.quote-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem; }

.avatar {
  width: 3rem;
  border-radius: 100%;
  margin-top: 2rem;
  margin-left: 32px; }

.row .col1 p.name {
  width: 50%;
  font-size: .8rem; }

.row .col1 p.name span {
  font-size: 1.2rem;
  font-weight: 700; }

/*---------------- ROW 3 -----------------------*/
.row3 {
  background-color: #585989; }

.row3 .col {
  margin-top: 7rem; }

.row3 .col h2 {
  color: #f6f6fe;
  font-size: 2.4rem; }

.row3 .col p {
  color: #f6f6fe;
  font-size: 1.8rem;
  margin: 3rem 4.5rem; }

.row3 .col form {
  margin-top: -10rem;
  margin-bottom: 10rem; }

.row3 .col input, .row3 .col button {
  border-radius: 5px;
  border: none;
  width: 100%; }

/*--------------- FOOTER ---------------*/
footer {
  background-color: #070439;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f6f6fe; }

footer div a {
  color: #f6f6fe;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0 3rem 3.5rem; }

.fylo-logo {
  width: 70%;
  margin: 5rem 0;
  max-width: 300px; }

footer span, a {
  font-size: 2rem;
  margin-bottom: 2rem; }

footer .logo span img {
  margin-right: 25px;
  width: 25px; }

footer div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social span {
  border: 2px solid #f6f6fe;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #f6f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tw, .ig {
  margin-left: 10px; }

.attribution {
  font-size: 10px;
  text-align: center; }

.attribution a {
  color: #f6f6fe;
  font-size: 12px; }

/*--------------- MEDIA QUERYS --------------*/
@media screen and (min-width: 980px) {
  header {
    padding-left: 50px; }

  nav {
    width: 25%; }

  /* --------------- COMMON ROW STYLES ---------------------*/
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  /* ------------------  ROW 1 ----------------------------*/
  .row1 {
    padding-bottom: 15rem;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; }

  .col1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 6rem;
    width: 70%;
    text-align: left;
    padding-left: 45px; }

  .col2 {
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .col2 img {
    width: 80%;
    margin-top: 1rem; }

  .col1 p {
    font-size: 1.1rem; }

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 35px;
    padding-right: 3rem; }

  input {
    width: 60%;
    height: 2.6rem;
    margin: 1.5rem 0.8rem 0 0;
    border-radius: 2px;
    padding-left: 2rem;
    border: 1px solid #000;
    font-size: 1.2rem; }

  button {
    width: 40%;
    height: 2.6rem;
    margin-top: 1.5rem;
    border-radius: 2px;
    font-size: 1rem; }

  /* ----------------- ROW 2 -------------------- */
  .row2 {
    padding-bottom: 5rem; }

  .row2 .col1 {
    width: 55%;
    margin-left: 30px; }

  .row2 .col2 {
    width: 45%; }

  .row2 .col1 p {
    font-size: 1rem;
    width: 80%;
    padding-left: 1rem; }

  .row2 .col1 a {
    color: #3c9f8f;
    margin: 1rem;
    font-size: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

  .arrow {
    width: 1rem; }

  hr {
    width: 165px;
    margin: 7px 0;
    border-top: 1px solid #3c9f8f; }

  blockquote {
    width: 50%;
    margin: 2rem 0 1rem 12px; }

  .quote {
    width: 1.2rem;
    margin-top: 2rem;
    margin-left: 30px; }

  .row2 .col1 blockquote p {
    font-size: 0.85rem;
    margin-left: 30px;
    margin-top: 10px;
    padding: 0; }

  .quote-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px; }

  .avatar {
    width: 2rem;
    border-radius: 100%;
    margin-top: 0;
    margin-left: 32px; }

  .row .col1 p.name {
    width: 50%;
    font-size: .6rem;
    margin-top: 0;
    margin-left: 5px; }

  .row .col1 p.name span {
    font-size: 0.8rem; }

  /*---------------- ROW 3 -----------------------*/
  .row3 {
    background-color: #585989;
    margin-top: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 6rem; }

  .row3 .col-left {
    width: 57%;
    text-align: left;
    margin-top: 0;
    padding-top: 0; }

  .row3 .col-right {
    width: 43%;
    margin-top: 0;
    padding-top: 0; }

  .row3 .col h2 {
    font-size: 2rem;
    margin-left: 85px; }

  .row3 .col p {
    width: 62%;
    font-size: 1.1rem;
    margin: 2rem 0 0 85px; }

  .row3 .col form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0; }

  .row3 .col input {
    width: 90%;
    margin-top: 0; }

  .row3 .col button {
    width: 40%;
    font-size: 0.9rem; }

  /*--------------- FOOTER ---------------*/
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem 5rem 3rem 4rem;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  footer .col {
    margin: 0 0 0 0; }

  .fylo-logo {
    width: 70%;
    margin: 0 0 2.5rem 0;
    max-width: 300px; }

  footer span, a {
    font-size: 1rem;
    margin-bottom: 1.5rem; }

  footer .logo span img {
    margin-right: 16px;
    width: 16px; }

  footer div.social {
    padding-right: 3rem; }

  .social span {
    font-size: 1rem;
    width: 30px;
    height: 30px; }

  .attribution {
    display: none; } }

/*# sourceMappingURL=style.css.map */